.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex: 1 0 auto;

  &__image {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__button {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
