.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  padding: 0;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex: 1 0 auto;
  border: 1px solid gray;
  border-radius: 5px;

  &__image {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__link {
    height: 100%;
    color: inherit;

    &:hover {
      opacity: 0.7;
      color: inherit;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-size: 1em;
  }

  &__year {
    margin-bottom: 0.5em;
  }

  &__type {
    font-size: 0.8em;
    margin-bottom: 1em;
    opacity: 0.7;
  }
}
