.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  gap: 0.5em;
}

.error-message {
  color: rgb(180, 30, 30);
  font-size: 0.7em;
}
